# Operating system files.
.DS_Store

# Git.
.git
.github
.gitignore

# Environment files.
.env
.env.*
!.env.example

# Node.js.
node_modules
coverage
dist
test

# Logs.
*.log

# Models.
config/models/*
